# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out

# Go workspace
go.work
go.work.sum

# Vendored dependencies (optional)
vendor/

# Node modules
docs/node_modules/


# IDEs
.idea/
.vscode/
*.swp
*.swo
